*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
   text-align: left;
}
.containerautoslider{
    width: 65vmin;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    overflow: hidden;
    border: 20px solid white;
    border-radius: 8px;
    box-shadow: 10px 25px 30px rgba(30,30,200,0.3);
}
.wrapperautoslider{
    width: 100%;
    display: flex;
    animation: slide 16s infinite;
}
@keyframes slide {
    0%{
        transform: translate(0);
    }
    25%{
        transform: translate(0);
    }
    30%{
        transform: translate(-100%);
    }
    50%{
        transform: translate(-100%);
    }
    55%{
        transform: translate(-120%);
    }
    75%{
        transform: translate(-200%);
    }
    80%{
        transform: translate(-300%);
    }
    100%{
        transform: translate(-300%);
    }
}
img{
    width: 100%;
}